﻿@model DateTime
@{
    string dateFormat = "dd/MM/yyyy";
}
<input id="@Html.IdForModel()" name="@Html.NameForModel()" value="@((Model > DateTime.MinValue ? Model : DateTime.Today).ToString(dateFormat))" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.IdForModel()").kendoDatePicker({
            format: "@dateFormat"
        });
    });
</script>