@model DateTime
@{ 
    string dateFormat = "dd/MM/yyyy HH:mm:ss";
}
<input id="@Html.IdForModel()" name="@Html.NameForModel()" value="@((Model > DateTime.MinValue ? Model : DateTime.Today).ToString(dateFormat))" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.IdForModel()").kendoDateTimePicker({
            format:"@dateFormat",
            popup: {
                position: "bottom right",
                origin: "top right"
            }
        });
    });
</script>