﻿@model DateTime?
@{
    
}
<input id="@Html.IdForModel()" name="@Html.NameForModel()" value="@(Model > DateTime.MinValue || Model.HasValue ? Model.Value.ToString("yyyy/MM/dd") : null)" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.IdForModel()").kendoDatePicker({
            dateInput: true
        });
    });
</script>