﻿@model ActionConfirmationModel
@using EGIC.Web.Framework.Mvc.Models
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="@(Model.WindowId)-title">
                Confirmation
            </h4>
        </div>
        <div class="modal-body">
            @Model.Message
        </div>
        <div class="modal-footer">
            <button type="submit" id="@(Model.WindowId)-submit-button" class="btn btn-danger pull-right">
                Yes
            </button>
            <span class="btn btn-default pull-right margin-r-5" data-dismiss="modal">
                No
            </span>
        </div>
    </div>
</div>