﻿@using EGIC.Web.Framework.Menu
@{
    var items = new List<SiteMapNode>
{
new SiteMapNode
{
    SystemName = "Home",
    IconClass = "fa-desktop",
    Title = "Home",
    ActionName = "Index",
    ControllerName = "Home",
    Visible = true
},
new SiteMapNode
{
    SystemName = "Projects/Map",
    IconClass = "fa-map",
    Title = "Projects Map",
    ActionName = "Map",
    ControllerName = "Projects",
    Visible = true
},
new SiteMapNode
{
    SystemName = "RepTrack",
    IconClass = "fa-map-marker",
    Title = "Rep Track",
    ActionName = "RepTrack",
    ControllerName = "Projects",
    Visible = true
}
    };
}
<ul class="sidebar-menu">
    @foreach (var item in items.Where(x => x.Visible))
    {
        @await Html.PartialAsync("_MenuItem", item)
    }
</ul>