﻿<div class="content text-center">
    <div class="content-header">
        <h1>
            Access Denied
        </h1>
    </div>
    <i class="fa fa-minus-circle" style="font-size:260px;color:#e66666;"></i>
    <div class="alert alert-danger alert-dismissable">
        You tried to access unauthorized page.
    </div>
</div>

