﻿@model ProjectsMapModel
@using EGIC.Core.Models.ProjectsMap
@{
    Layout = "_AdminLayout";
    string pageTitle = "Map";
    //page title
    ViewBag.Title = pageTitle;
    List<KeyValuePair<string, string>> projectsData = new List<KeyValuePair<string, string>>();
    projectsData.Add(new KeyValuePair<string, string>("university", "aqua"));
    projectsData.Add(new KeyValuePair<string, string>("building", "green"));
    projectsData.Add(new KeyValuePair<string, string>("cubes", "yellow"));
    projectsData.Add(new KeyValuePair<string, string>("bar-chart", "red"));

}


<div class="content-header clearfix">
    <h1 class="pull-left">
        @pageTitle
    </h1>
        <div class="pull-right">
            
        </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group ">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        @for (int i = 0; i < Model.ProjectTypes.Count; i++)
                        {
                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-@projectsData[i].Value">
                                    <div class="inner">
                                        <h2 id="proj-@(i+1)">0</h2>
                                        <p>@Model.ProjectTypes[i].Text</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div id="map" style="width: 100%;height:450px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    let markers = [];
    let map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: { lat: 30.644018, lng: 30.623972 }
        });
    }

    $(function () {
        $.ajax({
            url: '/Projects/ProjectsMap',
            type: 'POST',
            success: function (data) {
                //console.log(data);
                for (var i = 0; i < data.length; i++) {
                    const proj = $('#proj-' + data[i].customerType);
                    const count = parseInt(proj.text()) + 1;
                    proj.text(count);
                    const projType = proj.closest('.inner').find('p').text();
                    const marker = new google.maps.Marker({
                        position: new google.maps.LatLng(data[i].latitude, data[i].longtude),
                        map: map,
                        animation: google.maps.Animation.DROP,
                        title: `${data[i].customerName} - (${projType})`,
                        icon: {
                            url: `/images/map/proj-${data[i].customerType}.png`,
                            // This marker is 20 pixels wide by 32 pixels high.
                            size: new google.maps.Size(32, 32),
                            // The origin for this image is (0, 0).
                            origin: new google.maps.Point(0, 0),
                            // The anchor for this image is the base of the flagpole at (0, 32).
                            anchor: new google.maps.Point(0, 32)
                        }
                    });
                    const infowindow = new google.maps.InfoWindow({
                        content: `<h5>${data[i].customerName} (${projType})</h5>`
                    });
                    marker.addListener('click', function () {
                        infowindow.open(map, marker);
                    });
                    markers.push(marker);
                }
            },
            error: function (xhr) {
                console.log(xhr)
            }
        });
    })

</script>