﻿@model RepTrackModel
@using EGIC.Core.Models.ProjectsMap
@{
    Layout = "_AdminLayout";
    string pageTitle = "Representative Tracking";
    //page title
    ViewBag.Title = pageTitle;
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @pageTitle
    </h1>
    <div class="pull-right">

    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">

                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label asp-for="SelectDate" class="control-label"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <input asp-for="SelectDate" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label asp-for="RepUsername" class="control-label"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <select asp-for="RepUsername" asp-items="@Model.Reps" class="form-control btn-sm"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="btn-search" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    Track
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="directions-panel"></div>
                    <br />
                    <div id="map" style="width: 100%;height: 450px;"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    let visitPath;
    let map;
    let visitPoints = [];
    let markers = [];
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 6,
            center: { lat: 26.8206, lng: 30.8025 }
        });
    }

    $(function () {
        $('#btn-search').click(function () {
            let $this = $(this),
                ddlRep = $('#RepUsername'),
                divDirectionsPanel = $('#directions-panel'),
                datePicker = $('#SelectDate');
            if (visitPoints.length > 0) {
                visitPath.setMap(null);
                visitPoints = [];
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                }
                divDirectionsPanel.html('');
            }

            //waypts = [];
            let username = ddlRep.val();
            let selectedDate = datePicker.val();
            if (selectedDate == "") {
                alert('invalid date');
                return false;
            }
            let date = new Date(selectedDate);
            
            let filter = $('#RepUsername, #SelectDate, #btn-search');
            filter.prop('disabled', true);
            $.ajax({
                url: '/Projects/RepVisits',
                type: 'POST',
                data: {
                    username: username,
                    year: date.getFullYear(),
                    month: date.getMonth() + 1,
                    day: date.getDate()
                },
                success: function (result) {
                    if (result.success && result.data.length > 0) {
                        const repName = ddlRep.find('option:selected').text();
                        divDirectionsPanel.append(`<h4> ${repName} (${username}) visited the following places: </h4>`);
                        for (var i = 0; i < result.data.length; i++) {
                            const item = result.data[i];
                            const order = i + 1;
                            divDirectionsPanel.append(`<span class='item'>#${order} - ${item.customerName} at ${item.visitTime}</span><br/>`);
                            const visitPoint = { lat: parseFloat(item.latitude), lng: parseFloat(item.longtude) };
                            const info = `${order}- ${item.customerName} at ${item.visitTime}`;
                            const marker = new google.maps.Marker({
                                position: visitPoint,
                                label: '#' + order,
                                title: info,
                                map: map
                            });
                            const infowindow = new google.maps.InfoWindow({
                                content: `<h5>${info}</h5>`
                            });
                            marker.addListener('click', function () {
                                infowindow.open(map, marker);
                            });
                            markers.push(marker);
                            visitPoints.push(visitPoint);
                        }

                        visitPath = new google.maps.Polyline({
                            path: visitPoints,
                            strokeColor: '#FF0000',
                            strokeOpacity: 1.0,
                            strokeWeight: 3
                        });
                        visitPath.setMap(map);

                        let panToLatLng = { lat: parseFloat(result.data[0].latitude), lng: parseFloat(result.data[0].longtude) };
                        map.panTo(panToLatLng);
                        map.setCenter(panToLatLng);
                        map.setZoom(11);
                    }

                    filter.prop('disabled', false);
                },
                error: function (xhr) {
                    filter.prop('disabled', false);
                    console.log(xhr)
                }
            });
        });
    });
</script>